@charset "ISO-8859-1";



* {
	margin: 0;
	text-decoration: none;
}


.cabecera {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	padding: 20px;
	background-color: darkgray;
	text-decoration: none;
}

#img-logo {
	grid-column: 1/2;
}

#opt-cab {
	grid-column: 3/5;
	text-align: center;
	font-size: 25px;
	margin-top: 6px;
}

#opt-cab > ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

#opt-cab > ul > li {
	display: inline-block;
}

#opt-cab > ul > li > a {
	text-decoration: none;
	color: black;
	padding: 15px;
	margin: 0 40px;
}

#but-ses {
	grid-column: 6/8;
	text-align: center;
}

#but-ses > button {
	font-size: 16px;
	font-weight: bold;
	border-radius: 20px;
	border: 0;
	width: 150px;
	height: 40px;
	margin: 0 10px;
}

.info {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
}

.titulo {
	margin-top: 40px;
	text-align: center;
	grid-column: 1/7;
}

.pri {
	grid-column: 1/3;
}

.seg {
	grid-column: 3/5;
}

.ter {
	grid-column: 5/7;
}

.pri, .seg, .ter {
	margin: 90px auto 20px;
	width: 60%;
	border: 1px solid gray;
	grid-row: 2/3;
}

.inf {
	font-size: 17px;
	background-color: gray;
	padding: 12px;
}

.pre-fec {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	margin-top: 10px;
}

.fec-cat {
	margin-top: 10px;
}

.cabecera-pago {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
}

.tarjetas {
	grid-column: 1/3;
	grid-row: 1/2;
}

.num-tar {
	grid-column: 1/3;
	grid-row: 2/3;
}

.ven-tar {
	grid-column: 1/2;
	grid-row: 3/4;
}

.cvv-tar {
	grid-column: 2/3;
	grid-row: 3/4;
}

.linea {
	grid-column: 3/3;
	grid-row: 1/4;
	border-left: 2px solid black;
	height: 50vh;
}

.ent-mon {
	grid-column: 3/5;
	grid-row: 2/3;
}

.check {
	grid-column: 3/5;
	grid-row: 3/4;
}

listaProductos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 10px;
    row-gap: 10px;
}

.cuadrado {
    width: 200px;
    height: 200px;
    object-fit: cover;
}


